* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: #FACC2E;
}


/* CONFIGURACION DEL SCROLLBAR PARA FIREFOX Y CHROME */

#contenedor-todas-vistas {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgba(136, 130, 130, 0.452) transparent;
    scrollbar-width: thin;
}

#contenedor-todas-vistas::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

#contenedor-todas-vistas::-webkit-scrollbar-thumb {
    background-color: rgba(136, 130, 130, 0.452);
    border-radius: 12px;
    height: 40px
}

.contenido-encabezado-superior {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 0%;
}

.contenido-fondo-oculto {
    z-index: 3;
    position: absolute;
    height: 0%;
    width: 100%;
}

.btn-food {
    display: inline-block;
    font-weight: 400;
    color: #212529;    
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-left: 8px;
    padding-top: 8px;
    background-color: transparent;
}

.fondo-boton-menu,
.fondo-logo {
    float: left;
    margin: auto;
    width: 33.33%;
    padding: 5px;
    height: 80px;
}

.barras-menu {
    font-size: 15px;
}

.imagen-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    background: rgba(255, 255, 255, 0.5);
}

.encabezado-parte-superior {
    z-index: 2;
    position: relative;
    display: flex;
}

.encabezado-parte-inferior {
    z-index: 2;
    position: relative;
    top: -20px;
    display: flex;
    background-color: rgba(255, 0, 0, 0);
}

.columnas-superior {
    height: 55px;
    flex: 0 0 9.085%;
    width: 9.085%;
}

.columnas-inferior-blancas {
    background: #ffffff;
    flex: 0 0 9.085%;
    border-bottom: 4px solid #FACC2E;
    color: #FACC2E;
}

.columnas-inferior {
    background: #FACC2E;
    flex: 0 0 9.085%;
    border-bottom: 4px solid #FACC2E;
    color: #ffffff;
}

.border-columnas {
    height: 50px;
    border-radius: 50%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: flex-end!important;
    -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, .18)!important;
    -moz-box-shadow: 0 10px 5px rgba(0, 0, 0, .18)!important;
    box-shadow: 0 10px 5px rgba(0, 0, 0, .18)!important;
}

.estilo-letra-titulo {
    font-family: monospace;
    font-size: 15px;
}

.fondo-pantalla-completa {
    z-index: 1;
    height: 150%;
    width: 100%;
    position: relative;
    top: -125px;
    left: 0px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.lados-laterales-fondo {
    flex: 0 0 6%;
    max-width: 6%;
}

.centro-fondo {
    background: #ffffff;
    padding-top: 175px;
    overflow: auto;
    flex: 0 0 88%;
    max-width: 88%;
}

.ancho-inicio-slide {
    padding-top: 240px;
}

.lados-laterales-fondo,
.centro-fondo {
    height: 0%;
}

.boton-levantar-menu {
    position: fixed;
    width: 5%;
    height: 10%;
    top: 40%;
    left: .5%;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.icono-levantar-menu {
    color: #ffffff;
    font-size: 30px;
}

.container-footer {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 6%;
    margin-left: 6%;
    background-color: rgba(0, 0, 0, 0.09);
}


/* Clases  */

.color-food-fontOrange {
    color: #FACC2E!important;
}

.bg-food-orange {
    background: #FACC2E!important;
}

.border-food-orange {
    border: 1px solid #FACC2E!important;
}

.color-food-fontBrown {
    color: #795548!important;
}

.bg-food-brown {
    background: #795548!important;
}

.loadingpage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
    height: 100%;  
    margin-right: auto;    
    margin-left: auto;    
    display: flex ;
    align-items: center;
    z-index: 999999999;
    background-color: #FACC2E;
}

.loadingpage > .contenido-loading > p{
    padding-top: 20px;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px; 
    color: aliceblue;
}
.loadingpage > .contenido-loading{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}


/* Tablet Styles */

@media only screen and (min-width: 550px) {
    .border-columnas {
        height: 70px;
    }
    .columnas-superior {
        height: 60px;
    }
    .estilo-letra-titulo {
        font-size: 20px;
    }
    .encabezado-parte-inferior {
        top: -35px;
    }
    .imagen-logo {
        width: 40%;
    }
    .barras-menu {
        font-size: 18px;
    }
    .btn-food {
        padding-left: 12px;
        padding-top: 12px;
    }
}

@media only screen and (min-width: 800px) {
    .columnas-superior {
        height: 65px;
    }
    .imagen-logo {
        width: 30%;
    }
    .barras-menu {
        font-size: 22px;
    }
    .btn-food {
        padding-left: 16px;
        padding-top: 16px;
    }
}


/* Desktop Styles */

@media only screen and (min-width: 961px) {
    .border-columnas {
        height: 100px;
    }
    .columnas-superior {
        height: 110px;
    }
    .estilo-letra-titulo {
        font-size: 25px;
    }
    .encabezado-parte-inferior {
        top: -55px;
    }
    .imagen-logo {
        width: 40%;
    }
    .centro-fondo {
        padding-top: 190px;
    }
    .ancho-inicio-slide {
        padding-top: 300px;
    }
    .barras-menu {
        font-size: 25px;
    }
    .btn-food {
        padding-left: 20px;
        padding-top: 20px;
    }
}