.imagen-s-resultados{
  width: 30%;   
}

/* /* ESTILOS NORMALES (para escritorios muy grandes)    */

.titulo-platillos {
  display: flex;
  align-items: baseline;
}

.titulo-platillos a {
  margin-left: 0.5rem;
}

.contenedor-editar-platillo {
  display: flex;
  align-items: baseline;
}

.contenedor-editar-platillo small {
  margin-left: 0.5rem;
}

.contenedor-disponibilidad{
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.5rem;
}

.contenedor-disponibilidad div{
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
}

.contenedor-disponibilidad div label{
  margin: 0;
}

/* RESPONSIVE */

/* Tablets en horizonal y escritorios normales    */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Móviles en horizontal o tablets en vertical    */
@media (max-width: 767px) {
}

/* Móviles en vertical    */
@media (max-width: 480px) {

  .imagen-s-resultados{
    width: 50%;   
  }
  
    .titulo-platillos {
        display: block;
    }

    .contenedor-editar-platillo {
        display: block;        
    }

    .contenedor-editar-platillo small {
        margin-left: 0px;
    }

    .contenedor-disponibilidad{
        display: block;
        margin: auto;
        padding: 0.5rem;
    }

    .contenedor-disponibilidad div{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .contenedor-disponibilidad a{
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
    }

}
