body{    
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: rgba(136, 130, 130, 0.452) transparent;
    /* scrollbar-color: rgba(224, 48, 48, 0.452) transparent; */
    scrollbar-width: thin;
}

body::-webkit-scrollbar{
    background-color:transparent;
    width:8px;
}

body::-webkit-scrollbar-thumb{
    background-color:rgba(136, 130, 130, 0.452);
    /* background-color:rgba(189, 44, 44, 0.452); */
    border-radius:12px;
    height:40px
}